.centered { text-align: center; }
.bluetext { color:#4d85ff; }
.whitetext { color:#ffffff;}
.blacktext { color:#110500; }
.redtext { color:#e62062; }
.redback { background-color: #e62062; }
.whiteback { background-color: #ffffff; }
.blueback { background-color: #4d85ff; }
.fontmain {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fontbold {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.select_bar {
  width: 500px;
  height: 56px;

  background: #e9e9e9;
  border: 2px solid #4d85ff;

  box-shadow: 0 0 12px rgba(79, 102, 255, 0.4);

  border-radius: 999px;

  display: flex;
  align-items: center;

  position: relative;
}
.circle_icon {
  width: 44px;
  height: 44px;

  background: #555555;
  color: white;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 6px;
  font-size: 20px;
}
.label {
  margin-left: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #a2abff;
}

