.centered { text-align: center; }
.purpletext { color: #7045f5; }
.fontbold {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.large_title {
  font-size:162px;
  top: 20px;
}
.fontmain {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.select_bar {
  width: 950px;
  height: 75px;

  background: linear-gradient(
    to right,
    #f9f5fd,
    #c9b2f4
  );
  border: 4px solid #7045f5;
  box-shadow: 0 0 1px rgba(79, 102, 255, 0);

  border-radius: 60px;

  display: flex;
  align-items: center;

  position: relative;
  margin: auto;
  top: 60px;

  /*interactivity*/
  cursor: pointer;
  transform-origin: top;
  transition: box-shadow 0.25s ease, transform 0.25s ease, height 0.25s ease;
}
.select_bar:hover {
  box-shadow: 
    0 0 6px rgba(126, 79, 255, 0.7),
    0 0 18px rgba(135, 79, 255, 0.4); 
  transform: translateY(-1px);
  height: 375px;

}

  .circle_icon {
  width: 75px;
  height: 75px;

  background: linear-gradient(
    to bottom,
    #7646ef,
    #9c64fc
  );
  color: white;

  border-radius: 60px;
  box-shadow: 0 0 0px rgba(79, 102, 255, 0);

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;

  margin-left: 0px;
  font-size: 70px;
  /* Interactivity*/
  transform-origin: top;
  transition: transform 0.25s ease, box-shadow 0.25s ease, height 0.25s ease, border-radius 0.25s ease;
}

.select_bar:hover .circle_icon {
  transform: scale(1.05);
  box-shadow: 
    0 0 8px rgba(79, 102, 255, 0.3);
  height: 353px; 
}
.label {
  position: absolute;
  top: 0;
  margin-top: 11px;
  margin-left: 90px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #987bef;
  font-size: 35px;

  transition: color 0.25s ease;
}

.select_bar:hover .label {
  color: #7045f5;
}

.down_arrow_icon {
  --t: 45%;
  --h: 40%;

  aspect-ratio: 2/3;
  height: 58px;
  background: linear-gradient(
    to bottom,
    #dec7fd,
    #ffffff
  );
  clip-path: polygon(calc(50% - var(--t)/2) 0,calc(50% - var(--t)/2) calc(100% - var(--h)),0 calc(100% - var(--h)),50% 100%,100% calc(100% - var(--h)),calc(50% + var(--t)/2) calc(100% - var(--h)),calc(50% + var(--t)/2) 0);
  display: flex;

  position: absolute;
  top: 0;
  margin-top: 7px;
  margin-right: 5px;
  rotate: -180deg;
  box-shadow: 0 0 0px rgba(79, 102, 255, 0);

  transition: transform 0.25s ease, rotate 0.25s ease, box-shadow 0.25s ease, margin-top 0.25s ease;
}
.select_bar:hover .down_arrow_icon {
  transform: scale(1.00);
  rotate: 0deg;
  box-shadow: 0 0 6px rgba(155, 79, 255, 0.7);
  margin-top: 11px;

}