.centered { text-align: center; }
.purpletext { color: #7045f5; }
.fontbold {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.large_title {
  font-size:162px;
  top: 20px;
}

.title_bar {
    background: linear-gradient(
        to right,
        #f9f5fd,
        #c9b2f4
    );
    border-bottom: 4px solid #7045f5;
    box-shadow: 0 0 8px rgba(135, 79, 255, 0.4); 
    height: 40px;
    width: 100%;
}

.menu_bounding_box {
    position: relative;
    width: 40px;
    height: 27px;
    top: 7px;
    margin-left: 7px;
    background-color: #00000000;
    cursor: pointer;

    transition: transform 0.25s ease;
}

.menu_bounding_box:hover {
    transform: scale(1.15);
}

.menu {
    position: relative;
    width: 38px;
    height: 5px;
    background-color: #7045f5;
    border-radius: 18px;
    top: 1px;
    margin-left: 1px;

}

.menu::before,
.menu::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background: #7045f5;
    border-radius: 18px;
}

.menu::before {
    top: 10px;
}

.menu::after {
    top:20px;
}



canvas {
    display: block;
}

html, body {
    margin: 0;
    height: 100%;
}