html, body {
  margin: 0;
  height: 100%;
}


.centered { text-align: center; }
.bluetext { color:#474aff; }
.whitetext { color:#ffffff;}
.blacktext { color:#110500; }
.redtext { color:#e62062; }
.purpletext { color: #7045f5; }
.redback { background-color: #e62062; }
.whiteback { background-color: #ffffff; }
.blueback { background-color: #4d85ff; }
.fontmain {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fontbold {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.select_bar {
  width: 950px;
  height: 75px;

  background: linear-gradient(
    to right,
    #f5f6fe,
    #a2b1f8
  );
  border: 4px solid #474aff;
  box-shadow: 0 0 1px rgba(79, 102, 255, 0);

  border-radius: 60px;

  display: flex;
  align-items: center;

  position: relative;
  margin: auto;
  top: 60px;

  /*interactivity*/
  cursor: pointer;
  transform-origin: top;
  transition: box-shadow 0.25s ease, transform 0.25s ease, height 0.25s ease;
}
.select_bar:hover {
  box-shadow: 
    0 0 6px rgba(79, 102, 255, 0.7),
    0 0 18px rgba(79, 102, 255, 0.4); 
  transform: translateY(-1px);
  height: 375px;

}

  .circle_icon {
  width: 75px;
  height: 75px;

  background: linear-gradient(
    to bottom,
    #464cef,
    #646bfc
  );
  color: white;

  border-radius: 60px;
  box-shadow: 0 0 0px rgba(79, 102, 255, 0);

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;

  margin-left: 0px;
  font-size: 70px;
  /* Interactivity*/
  transform-origin: top;
  transition: transform 0.25s ease, box-shadow 0.25s ease, height 0.25s ease, border-radius 0.25s ease;
}

.select_bar:hover .circle_icon {
  transform: scale(1.05);
  box-shadow: 
    0 0 8px rgba(79, 102, 255, 0.3);
  height: 353px; 
}
.label {
  position: absolute;
  top: 0;
  margin-top: 11px;
  margin-left: 90px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #9fa5ea;
  font-size: 35px;

  transition: color 0.25s ease;
}

.select_bar:hover .label {
  color: #474aff;
}

.large_title {
  font-size:128px;
  top: 20px;
}
.down_arrow_icon {
  --t: 45%;
  --h: 40%;

  aspect-ratio: 2/3;
  height: 58px;
  background: linear-gradient(
    to bottom,
    #c7cbfd,
    #ffffff
  );
  clip-path: polygon(calc(50% - var(--t)/2) 0,calc(50% - var(--t)/2) calc(100% - var(--h)),0 calc(100% - var(--h)),50% 100%,100% calc(100% - var(--h)),calc(50% + var(--t)/2) calc(100% - var(--h)),calc(50% + var(--t)/2) 0);
  display: flex;

  position: absolute;
  top: 0;
  margin-top: 7px;
  margin-right: 5px;
  rotate: -180deg;
  box-shadow: 0 0 0px rgba(79, 102, 255, 0);

  transition: transform 0.25s ease, rotate 0.25s ease, box-shadow 0.25s ease, margin-top 0.25s ease;
}
.select_bar:hover .down_arrow_icon {
  transform: scale(1.00);
  rotate: 0deg;
  box-shadow: 0 0 6px rgba(79, 102, 255, 0.7);
  margin-top: 11px;

}

.chem_bar {
  width: 861px;
  height: 0px;

  background: linear-gradient(
    to right,
    #f9f5fd,
    #c9b2f4
  );
  border: 0px solid #7145f500;
  box-shadow: 0 0 1px rgba(79, 102, 255, 0);

  border-radius: 60px;

  display: flex;
  align-items: center;

  position: absolute;
  margin-left: 80px;
  top: 0;
  margin-top: 75px;

  cursor: pointer; 

  transition: height 0.1s ease, border 0.01s ease, box-shadow 0.05s ease, transform 0.05s ease;
  transition-delay: 0s;
}

.chem_bar:hover {
  box-shadow: 
    0 0 6px rgba(126, 79, 255, 0.7),
    0 0 18px rgba(135, 79, 255, 0.4); 
  transform: translateY(-1px);
}

.select_bar:hover .chem_bar {
  height: 73px;
  border: 4px solid #7045f5;
}

.label_chem {
  position: absolute;
  top: 0;
  margin-top: 0px;
  margin-left: 31px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #7145f500;
  font-size: 35px;
  
  transition: color 1.5s ease, margin-top 0.1 ease;
  transition-delay: 0.05s
}

.select_bar:hover .chem_bar .label_chem {
  color: #7045f5;
  margin-top: 11px;
}

.title_bar {
    background: linear-gradient(
      180deg, 
      hsla(211, 20%, 93%, 1) 90%, 
      hsla(218, 58%, 93%, 1) 93%,
      hsla(239, 58%, 50%, 1) 100%);
    border-bottom: 4px solid #474aff;
    box-shadow: 0 0 8px rgba(79, 88, 255, 0.4); 
    height: 40px;
    width: 100%;
}

.menu_bounding_box {
    position: relative;
    width: 40px;
    height: 27px;
    top: 7px;
    margin-left: 7px;
    background-color: #00000000;
    cursor: pointer;

    transition: transform 0.25s ease, rotate 0.25s ease;
}

.menu_bounding_box:hover {
    transform: scale(1.1);
}

.menu_bounding_box.active {
  transform: scale(0.9);
    rotate: 90deg;
}

.menu {
    position: relative;
    width: 36px;
    height: 5px;
    background-color: #474aff;
    border-radius: 18px;
    top: 1px;
    margin-left: 1px;

}

.menu::before,
.menu::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background: #474aff;
    border-radius: 18px;
}

.menu::before {
    top: 10px;
}

.menu::after {
    top:20px;
}

.scene {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.ui {
  position: relative;
  z-index: 10;
}
