.centered { text-align: center; }
.bluetext { color:#474aff; }
.whitetext { color:#ffffff;}
.blacktext { color:#110500; }
.redtext { color:#e62062; }
.redback { background-color: #e62062; }
.whiteback { background-color: #ffffff; }
.blueback { background-color: #4d85ff; }
.fontmain {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fontbold {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.select_bar {
  width: 950px;
  height: 75px;

  background: linear-gradient(
    to right,
    #f5f6fe,
    #a2b1f8
  );
  border: 4px solid #474aff;

  border-radius: 999px;

  display: flex;
  align-items: center;

  position: relative;
  margin: auto;
  top: 60px;

  /*interactivity*/
  cursor: pointer;
  box-shadow: 0 0 1px rgba(79, 102, 255, 0);
  transition: box-shadow 0.25s ease, transform 0.25 ease;
}
.select_bar:hover {
  box-shadow: 
    0 0 6px rgba(79, 102, 255, 0.7),
    0 0 18px rgba(79, 102, 255, 0.4); 
  transform: translateY(-1px)

}

  .circle_icon {
  width: 75px;
  height: 75px;

  background: linear-gradient(
    to bottom,
    #464cef,
    #646bfc
  );
  color: white;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 0px;
  font-size: 70px;
}
.label {
  margin-left: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #9fa5ea;
  font-size: 35px;
}
.large_title {
  font-size:128px;
  top: 20px;
}
.down_arrow_icon {
  --t: 45%;
  --h: 40%;

  aspect-ratio: 2/3;
  height: 58px;
  background: linear-gradient(
    to bottom,
    #c7cbfd,
    #ffffff
  );
  clip-path: polygon(calc(50% - var(--t)/2) 0,calc(50% - var(--t)/2) calc(100% - var(--h)),0 calc(100% - var(--h)),50% 100%,100% calc(100% - var(--h)),calc(50% + var(--t)/2) calc(100% - var(--h)),calc(50% + var(--t)/2) 0);
  display: flex;
  margin-right: 4px;
}
