.centered { text-align: center; }
.bluetext { color:#4d85ff; }
.whitetext { color:#ffffff;}
.blacktext { color:#110500; }
.redtext { color:#e62062; }
.redback { background-color: #e62062; }
.whiteback { background-color: #ffffff; }
.blueback { background-color: #4d85ff; }
.fontmain {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fontbold {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.select_bar {
  width: 950px;
  height: 75px;

  background: linear-gradient(
    to right,
    #f5f6fe,
    #a2b1f8
  );
  border: 4px solid #4d85ff;

  box-shadow: 0 0 12px rgba(79, 102, 255, 0.4);

  border-radius: 999px;

  display: flex;
  align-items: center;

  position: relative;
  margin: auto;
  top: 90px;
}
.circle_icon {
  width: 75px;
  height: 75px;

  background: linear-gradient(
    to bottom,
    #545bf7,
    #373df3
  );
  color: white;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 0px;
  font-size: 70px;
}
.label {
  margin-left: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #9fa5ea;
  font-size: 35px;
}
.large_title {
  font-size:128px;
  top: 20px;
}

