<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bowlby+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        {% block style %}{% endblock %}
        {% block favicon %}{% endblock %}
        <meta charset="UTF-8">
        <script type="importmap">
            {
                "imports": {
                    "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
                    "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
                }
            }
        </script>
        <title>
            {% block title %}{% endblock %} Learning.VFX
        </title>
    </head>
    <body class="centered">
        <div class="top_bar">
            <div class="menu_bounding_box" id="menu_box">
                <div class="menu"></div>
            </div>
            {% block dropdown %}{% endblock %}
            <script>
                document.getElementById("menu_box").addEventListener('click', function() {
                    document.getElementById("menu_box").classList.toggle('active');
                    var dropdown_items = document.getElementsByClassName("drop")
                    for(var i = 0; i < dropdown_items.length; i++)
                    {
                        dropdown_items[i].classList.toggle('active');
                    }
                })
            </script>
        </div>
        {% block main %}{% endblock %}
        <footer class="blacktext fontmain">
            
        </footer>
    </body>
</html>