.dropdown_list {
  margin-left: -35px;
}
/* Home ---------------------------*/
.blue_text_bounding_box {
  text-align: left;
}
.dropdown_item_blue {
  text-align: left;
  margin-left: 80px;
  margin-top: -15px;
  font-size: 0px;
  transition: 
    font-size 0.25s ease, 
    height 0.25s ease;
}
.dropdown_item_blue.active {
  font-size: 3.5rem;
  height: 100%
}


.blue_checkbox {
  width: 45px;
  height: 0px;
  background: #474aff;
  border: 0px solid #474aff00;
  position: absolute;
  top:0;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 12px;
  transition: 
    scale(1.1), 
    height 0.25s ease, 
    border 0.25s ease;
}
.blue_checkbox.active {
  height: 45px;
  border: 4px solid #474aff;
}


/* Learned from geeksforgeeks.org - borders act as lines of check mark because there is no background*/
.blue_tick_icon {
  height: 0px;
  width: 0px;
  margin-left: 10px;
  margin-top: 0.5px;
  border-bottom: 0px solid #ffffff00;
  border-right: 0px solid #ffffff00;
  transform: rotate(45deg) translateY(-2px);
  top: 0;
  position: absolute;
  transition: 
    height 0.35s ease,
    width 0.35s ease,
    border-bottom 0.35s ease,
    border-right 0.35s ease;
}
.blue_tick_icon.active {
  height: 30px;
  width: 12px;
  border-bottom: 10px solid #ffffff;
  border-right: 10px solid #ffffff;
}

/* Chemistry ---------------------------*/
.purple_text_bounding_box {
  position: absolute;
  top: 0;
  height: 0px;
  width: 538px;
  margin-left: 1px;
  margin-top: 75px;
  background: #ff000000;
  transform: scale(0);
  transition: 
    transform 0.25s ease, 
    height 0.35s ease;
  transform-origin: left;
}
.purple_text_bounding_box.active {
  height: 55px;
  transform: scale(1);
}
.purple_text_bounding_box:hover {
  transform: scale(1.1);
}


.dropdown_item_purple {
  text-align: left;
  margin-left: 80px;
  margin-top: -14px;
  font-size: 0px;
  transition: 
    font-size 0.25s ease, 
    height 0.25s ease,
    transform 0.25s ease;
  transform-origin: left;
}
.dropdown_item_purple.active {
  font-size: 3.5rem;
  height: 100%
}
.purple_text_bounding_box:hover .dropdown_item_purple {
  transform: scale(1);
}


.purple_checkbox {
  width: 45px;
  height: 45px;
  background-color: #474aff00;
  border: 0px solid #7145f500;
  position: absolute;
  top:0;
  margin-top: 1px;
  margin-left: 14px;
  border-radius: 12px;
  transition: 
    transform 0.2s ease, 
    background-color 0.25s ease-in, 
    height 0.35s ease;
}
.purple_checkbox.active {
  height: 45px;
  border: 4px solid #7045f5;
}
.purple_text_bounding_box:hover .purple_checkbox {
  background-color: #7145f5;
  transform: scale(1);
}


.purple_tick_icon {
  height: 30px;
  width: 12px;
  margin-left: 10px;
  margin-top: 0px;
  border-bottom: 10px solid #ffffff00;
  border-right: 10px solid #ffffff00;
  transform: rotate(45deg) translateY(-2px);
  top: 0;
  position: absolute;
  transition: 
    border 0.05s ease-in, 
    height 0.35s ease;
}
.purple_text_bounding_box:hover .purple_tick_icon {
  border-bottom: 10px solid #ffffff;
  border-right: 10px solid #ffffff;
}